@model ParkingProject.MVC.Models.Garages.GarageViewModel

@{
    ViewData["Title"] = "Details";
}


<div>
    <h4>GarageViewModel</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class="col-sm-10">
            @Model.Id
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Model.Name
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Address)
        </dt>
        <dd class="col-sm-10">
            @Model.Address
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class="col-sm-10">
            @Model.Email
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MaxCarsInStock)
        </dt>
        <dd class="col-sm-10">
            @Model.MaxCarsInStock
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ImgUrl)
        </dt>
        <dd class="col-sm-10">
            @Model.ImgUrl
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </dt>
        <dd class="col-sm-10">
            @Model.PhoneNumber
        </dd>
    </dl>
</div>