@model ParkingProject.MVC.Models.Garages.GarageViewModel

@{
    ViewData["Title"] = "Details";
}

<h1>Garage @Model.Name Details</h1>
<hr />
<div class="p-2">
    <a class="btn btn-primary" asp-controller="Garages" , asp-action="Edit" asp-route-id="@Model.Id">Edit</a>
    <a class="btn btn-danger" asp-controller="Garages" , asp-action="Delete" asp-route-id="@Model.Id">Delete</a>
</div>
<div class="row">
    <div class="col-6">
        <ul class="list-group list-group-flush">
            <li class="list-group-item">@Html.DisplayNameFor(model => model.Name) : @Html.DisplayFor(model => model.Name)</li>
            <li class="list-group-item">@Html.DisplayNameFor(model => model.Address) : @Html.DisplayFor(model => model.Address)</li>
            <li class="list-group-item">@Html.DisplayNameFor(model => model.Email) : @Html.DisplayFor(model => model.Email)</li>
            <li class="list-group-item">@Html.DisplayNameFor(model => model.MaxCarsInStock) : @Html.DisplayFor(model => model.MaxCarsInStock)</li>
        </ul>
    </div>
    <div class="col-6">
        <img style="width: 100%; height: 300px" src="@Model.ImgUrl" />
    </div>
</div>

@if (Model.Cars.Count == 0)
{
    <h1>There are no cars in the @Model.Name garage</h1>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Model</th>
                <th>Brand</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var car in Model.Cars)
            {
                <tr>
                    <td>@car.Model</td>
                    <td>@car.Brand</td>
                </tr>
            }
        </tbody>
    </table>
}