@model ParkingProject.MVC.Models.Cars.CarViewModel

@{
    ViewData["Title"] = "Details";
}


<div>
    <h4>CarViewModel</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class="col-sm-10">
            @Model.Id
        </dd>
        @if (Model.Garage != null)
        {
            <dt class="col-sm-2">
                Garage @Html.DisplayNameFor(model => model.Garage.Name)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Garage.Name)
            </dd>
        }
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Brand)
        </dt>
        <dd class="col-sm-10">
            @Model.Brand
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Model)
        </dt>
        <dd class="col-sm-10">
            @Model.Model
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Kilometrage)
        </dt>
        <dd class="col-sm-10">
            @Model.Kilometrage
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Engine)
        </dt>
        <dd class="col-sm-10">
            @Model.Engine
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class="col-sm-10">
            @Model.Price
        </dd>
    </dl>
</div>

<img src="@Model.ImgUrl" />

<div>

    <a class="btn btn-danger" asp-controller="Cars" , asp-action="Delete" asp-route-id="@Model.Id">Delete</a>
    <a class="btn btn-primary" asp-controller="Cars" , asp-action="Edit" asp-route-id="@Model.Id">Edit</a>

</div>