@model IEnumerable<ParkingProject.MVC.Models.Cars.CarViewModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<a class="btn btn-success align-self-center" asp-controller="Cars" , asp-action="Add">Add New Car</a>
<hr />
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Brand)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Model)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model=> model.ImgUrl)
            </th>
        </tr>
        
    </thead>

    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Brand)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Model)
                </td>
                <td>
                    @item.Price
                </td>
                <td>
                    <img style="height:80px;width:auto" src="@item.ImgUrl" />
                </td>
                <td>
                    <a class="btn btn-info" asp-controller="Cars" , asp-action="Details" asp-route-id="@item.Id">Details</a>
                </td>
            </tr>
        }
    </tbody>
</table>